# Virtual Environment
.venv
.env
/**/*/.venv
/**/*/.env
/venv

# MkDocs
site
/**/*/site

# JetBrains IDEs
.idea
/**/*/.idea

# VS Code
.vscode
/**/*/.vscode

# SSH setup
admin_password.txt
.ssh/linux_server_rsa

